/* Cabeçalho */
body {
    margin: 0;
}

.container {
    line-height: 150%;
}

.header {
    background-color: blue;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    display: flex;
}

.header h1 {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.header .social a {
    padding: 0 5px;
    text-decoration: none;
}

/* Conteúdo principal */
.content {
    text-align: center;
    padding: 1em;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}

h2 {
    font-size: 30px;
}

/* Lista */
ul{
    list-style-type: none;
    padding: 0;
}

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Rodapé */
.footer {
    background-color:  blue;
    padding: 55px 20px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}